# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/backend.tfvars
terraform/*.tar.gz
terraform/docs/
terraform/LICENSE
terraform/README.md

# Secrets
*.tfvars
ansible/vault.yml
ansible/inventory.ini

# Helm production values
helm/*/values-prod.yaml
helm/pgadmin/values-prod.yaml
helm/postgres/values-prod.yaml
