# Скопируйте в values-prod.yaml и заполните своими значениями
# cp values-prod.yaml.example values-prod.yaml

grafana:
  adminPassword: "ВАШ_НАДЁЖНЫЙ_ПАРОЛЬ"
  ingress:
    hosts:
      - grafana.ВАШ_ДОМЕН
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.ВАШ_ДОМЕН
