# Скопируйте в values-prod.yaml и заполните своими значениями
# cp values-prod.yaml.example values-prod.yaml
ingress:
  enabled: true
  hosts:
    - host: pgadmin.ВАШ_ДОМЕН
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - pgadmin.ВАШ_ДОМЕН
      secretName: pgadmin-tls
env:
  PGADMIN_DEFAULT_EMAIL: "ВАШ_EMAIL"
  PGADMIN_DEFAULT_PASSWORD: "ВАШ_ПАРОЛЬ"
