# Скопируйте этот файл в vault.yml и заполните своими значениями
# cp vault.yml.example vault.yml

telegram_token: "123456789:ABCdefGHIjklMNOpqrSTUvwxYZ"
telegram_token_activity: "987654321:ZYXwvuTSRqpONMlkJIHgfEDCba"
telegram_chat_id: "123456789"
whitelist_ip: "1.2.3.4"
whitelist_ip_extra: "5.6.7.8"
